.promo {
  background: #f5f5f5;
  border-radius: 10px;
  margin: 0 20px;
}

.promo__title {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  padding: 160px 24px 151px;
  max-width: 730px;
  margin: 0 auto;
  letter-spacing: -0.04em;
}

@media (max-width: 768px) {
  .promo__title {
    font-size: 40px;
    line-height: 52px;
    padding: 350px 24px 314px;
  }
}

@media (max-width: 500px) {
  .promo {
    background: #f5f5f5;
    border-radius: 10px;
    margin: 0 14px;
  }

  .promo__title {
    font-size: 29px;
    line-height: 37px;
    padding: 229px 0 212px;
  }
}
