.cards-list {
  padding: 70px 0 30px;
}

.cards-list__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 30px;
}

@media (max-width: 720px) {
  .cards-list__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .cards-list__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
