.footer {
  padding: 0 30px;
}

.page__footer {
  max-width: 1140px;
  margin: 0 auto;
}

.footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #a0a0a0;
  margin: 79px 0 0;
}

.footer__text::after {
  content: "";
  display: block;
  height: 1px;
  background: #e8e8e8;
  margin-top: 20px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #A0A0A0;
}

.footer__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.footer__item {
  list-style: none;
}

.footer__link {
  text-decoration: none;
  color: #000;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  opacity: 1;
  transition: 0.4s;
}

.footer__link:hover {
  opacity: 0.7;
}

@media (max-width: 500px) {
  .footer {
    padding: 0 14px;
  }

  .footer__text {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__text::after {
    margin-top: 21px;
  }

  .footer__container {
    display: flex;
    flex-direction: column-reverse;
    margin: 30px 0 10px;
    gap: 30px;
    align-items: center;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__list {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }
}
